.main-container{
  position: absolute;

  .search-list{
    position: relative;
    z-index: 1;
    left: 10vw;
    top: 1vh;

    .input-country-list{
      background-color: red;
      width: 200px;
      height: 25px;
    }
  }



}

